<!DOCTYPE html>
<html>
  <head>
    <title>HackerPlace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs/editor/editor.main.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/brewer.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!-- <body style="overflow: hidden"> -->
    <div>
      <%= yield %>
    </div>
  </body>
</html>
